.App {
  /* text-align: center; */
  padding: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title{
  font-size: 5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#resetButton{
  font-size: 1.5em;
}

label{
  font-size: 1.3em;
  margin-left: 0.3em;
}


.sorts-and-filters{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  background-color: lightskyblue;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h2{
  margin-bottom: 0.5em;
}

.cart-contents{
  background-color: lightyellow;
  padding: 1em;
  margin-bottom: 2.5em;

}